*.iml
*.ipr
*.iws

.gradle

build

src/main/webapp/WEB-INF/lib/*.jar
src/main/webapp/WEB-INF/appengine-generated/local_db.bin
src/main/webapp/WEB-INF/appengine-generated/datastore-indexes-auto.xml
.gradletasknamecache
src/main/webapp/WEB-INF/classes/
src/main/resources/oauth.properties
